name: "Build and Test"

on:
  push:
    branches-ignore:
      - "main"
      - "develop"
      - "deployment"
      - "preview-deployment"

  pull_request:
  merge_group:

env:
  ARTIFACT: "webHelpDHUB2-all.zip"
  DOCKER_VERSION: "2025.11.8530"
  INSTANCE: "Writerside/dhub"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Kotlin
        uses: fwilhe2/setup-kotlin@main

      - name: Calculate latest Dungeon Hub API version
        run: kotlin .github/set-version.main.kts

      - uses: JetBrains/writerside-github-action@v4

        with:
          instance: ${{ env.INSTANCE }}
          artifact: ${{ env.ARTIFACT }}
          docker-version:  ${{ env.DOCKER_VERSION }}

      - uses: actions/upload-artifact@v4

        with:
          name: docs
          path: |
            artifacts/${{ env.ARTIFACT }}
            artifacts/report.json

          retention-days: 7

  test:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4

        with:
          name: docs
          path: artifacts

      - uses: JetBrains/writerside-checker-action@v1

        with:
          instance: ${{ env.INSTANCE }}